<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>科室信息</title>
    <script th:src="@{/js/jquery.js}"></script>
    <link th:href="@{/layui/css/layui.css}" rel="stylesheet" type="text/css">
    <script th:src="@{/layui/layui.all.js}"></script>
</head>
<body>
<ul class="layui-nav">
    <li class="layui-nav-item layui-this"><a href="http://localhost:8081/ks">科室信息</a></li>
    <li class="layui-nav-item"><a href="http://localhost:8081/bf">病房信息</a></li>
    <li class="layui-nav-item"><a href="http://localhost:8081/ys">医生信息</a></li>
    <li class="layui-nav-item"><a href="http://localhost:8081/hz">患者信息</a></li>
</ul>
</body>
</html>