<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>科室信息</title>
    <script th:src="@{/js/jquery.js}"></script>
    <link th:href="@{/layui/css/layui.css}" rel="stylesheet" type="text/css">
    <script th:src="@{/layui/layui.all.js}"></script>
    <script th:src="@{/modular/index.js}"></script>
</head>
<body>
<button type="button" class="layui-btn layui-btn-normal" id="ks" onclick="keshi.cl()">科室信息</button>
<button type="button" class="layui-btn layui-btn-normal" id="br" onclick="patient.cl()">病人信息</button>
<button type="button" class="layui-btn layui-btn-normal" id="doc" onclick="doctor.cl()">医生信息</button>
<button type="button" class="layui-btn layui-btn-normal" id="room" onclick="door.cl()">病房信息</button>
<table id="door"></table>
<table id="patient"></table>
<table id="doctor"></table>
<table id="keshi"></table>
</body>
</html>